<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Professoren</title>
</head>

<body>
<h2>Professoren</h2>

<h3>Neuer Professor</h3>
<div>
    <form action="#"
          enctype="multipart/form-data"
          method="POST"
          th:action="@{'/ui/professoren'}"
          th:object="${professorTemplate}">
        <div>
            <label>name</label>
            <input id="Name" placeholder="Enter Name" th:field="*{name}"
                   type="text"/>
        </div>
        <div>
            <label>rang</label>
            <input id="Rang" placeholder="Enter Rang" th:field="*{rang}"
                   type="text"/>
        </div>
        <div>
            <label>personalnummer</label>
            <input id="Personalnummer" placeholder="Enter Personalnummer" th:field="*{personalnummer}"
                   type="number"/>
        </div>
        <div>
            <label>gehalt</label>
            <input id="Gehalt" placeholder="Enter Gehalt" th:field="*{gehalt}"
                   type="number"/>
        </div>
        <input class="btn" type="submit" value="save" width="60"/>
    </form>
</div>

<h3>List</h3>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Personalnummer</td>
        <td>Rang</td>
        <td>Gehalt</td>
        <td>Raum</td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="b: ${professoren}" th:value="${b}">
        <td>
            <span th:text="${b.id}"></span>
        </td>
        <td>
            <a th:href="@{'/ui/professoren/' + ${b.id}}">
                <span th:text="${b.name}"></span>
            </a>
        </td>
        <td>
            <span th:text="${b.personalNummer}"></span>
        </td>
        <td>
            <span th:text="${b.rang}"></span>
        </td>
        <td>
            <span th:text="${b.gehalt}"></span>
        </td>
        <td>
            <span th:if="${b.raum != null}" th:text="${b.raum.name}"></span>
        </td>
        <td>
            <form action="#"
                  enctype="multipart/form-data"
                  th:action="@{'/ui/professoren/'+ ${b.id}}"
                  th:method="DELETE">
                <input class="btn" type="submit" value="Delete" width="60"/>
            </form>
        </td>
    </tr>
    </tbody>


</table>
</body>