<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Professor</title>
</head>

<body>
<h2>Professor</h2>

<div th:each="b: ${professor}" th:value="${b}">
    <div>
        <label>Id</label>
        <span th:text="${b.id}"></span>
    </div>
    <div>
        <label>Name</label>
        <span th:text="${b.name}"></span>
    </div>
    <div>
        <label>Personalnummer</label>
        <span th:text="${b.personalNummer}"></span>
    </div>
    <div>
        <label>Rang</label>
        <span th:text="${b.rang}"></span>
    </div>
    <div>
        <label>Gehalt</label>
        <span th:text="${b.gehalt}"></span>
    </div>
    <div>
        <label>Raum</label>
        <span th:if="${b.raum != null}" th:text="${b.raum.name}"></span>
    </div>

</div>
</body>